// Place all the styles related to the Letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters-container {
  margin: 0 auto;
  width: 80%;
}

.coverTemplate {
  height: 300px;
  width: 400px;
  border: 0.5px solid rgba(20, 20, 20, 0.8);
  margin: 0 auto;
  background-size: cover;
  background-image: url("coverTemplate.png");
}

.letter {
  box-shadow: 0px  0px 2px 0px gray;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/letter-app/LetterTemplate.png");
  background-size: cover;
  height: 80vh;
  width: calc(80vh * 0.7);
  margin: 0 auto;
  position: relative;

  .msg_box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 77%;
    height: 60%;

    textarea {
      resize: none;
      font-size: 18px;
      width: 100%;
      height: 100%;
      border: none;
      background-color: rgba(0,0,0,0);
      text-align: center;
      &:active {
        border: none;
      }
      &:focus {
        border: none;
        outline:none;
      }
    }
  }

  .to_box {
    width: 150px;
    position: absolute;
    left: 10px;
    top: 60px;
    text-align: center;
    input {
      width: 100%;
      font-size: 16px;
      border: none;
      background-color: rgba(0,0,0,0);
      text-align: center;
      &:active {
        border: none;
      }
      &:focus {
        border: none;
        outline:none;
      }
    }
  }
  .from_box {
    width: 150px;
    position: absolute;
    right: 10px;
    bottom: 30px;
    text-align: center;
    input {
      width: 100%;
      font-size: 16px;
      border: none;
      background-color: rgba(0,0,0,0);
      text-align: center;
      &:active {
        border: none;
      }
      &:focus {
        border: none;
        outline:none;
      }
    }
  }
}

.actions {
  position: absolute;
  right: 0;
}

.btn{
   font-size: 18px;
   display: inline-block;
   text-decoration: none;
   background: #87befd;
   color: #FFF;
   width: 120px;
   height: 120px;
   line-height: 120px;
   border-radius: 50%;
   text-align: center;
   vertical-align: middle;
   overflow: hidden;
   box-shadow: 0px 0px 0px 5px #87befd;
   border: dashed 1px #FFF;
   transition: .4s;
 }

.btn:hover{
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

#notice {
  font-size: 16px;
}

.phone_btn {
  display: none;
}

@media (max-width:480px) {
  .letter {
    .to_box {
      left: 2px;
      top: 50px;
    }
    .from_box {
      right: 3px;
      bottom: 20px;
    }
  }
  .btn {
    display: none;
  }
  .phone_btn{
    box-sizing: border-box;
    margin: 8px 24px;
    width: 80%;
    font-size: 18px;
    display: block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #87befd;
    border: dashed 1px #FFF;
    transition: .4s;
  }

  .phone_btn:hover{
    background: #668ad8;
    box-shadow: 0px 0px 0px 5px #668ad8;
  }

  #notice {
    font-size: 16px;
  }
}

@media (max-width:768px) {
  .btn {
    font-size: 14px;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  .letter {
    .to_box {
      left: 2px;
      top: 50px;
    }
    .from_box {
      right: 3px;
      bottom: 20px;
    }
  }
}